/*	styles.css	*/
/*

	Color del background del logo
	-hex #010101
	-rgb (1,1,1)
		Gradiante del logo
	-hex #0F0A04
	-rgb (15,10,4)
	
	Color del foreground del logo
	-hex #AF9361
	-rgb (175,147,97)
	
	Color del splash del logo
	-hex #CDAC43
	-rgb (205,172,67)
	
*/

/********************************** Tag selectors *******************************/

* {
  box-sizing:border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(90deg, rgba(1,1,1,1) 19%, rgba(15,10,4,1) 100%);
  color: #AF9361;
}

header {
  border-bottom: 2px solid #AF9361;
}

nav {
  position: absolute;
  right: 0;
  bottom: 36.5%;
}


nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 10px;
  padding-right: 10px;
  border-right: double;
}

nav li:last-child {
  border-right: none;
  padding-right: 0;  
}

nav a, .menu-box a {
  text-decoration: none;	
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  border-left: 5px dotted #AF9361;
}

a {
  color: #AF9361;	
}

dt {
  font-weight: bold;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #AF9361;
  border-width: 5px;
}

/********************************* Class selectors ******************************/

.header-container {
  display: block;
  height: 355px;
  text-align: right;
  font-size: 1em;
  color: #AF9361;
  margin-bottom: 40px;
  background-image: url("https://media-exp1.licdn.com/dms/image/C4D1BAQHlYAbip0w0uQ/company-background_10000/0/1529440008339?e=2159024400&v=beta&t=Pjl8Xrp6RxAupJLatlGnj47qLTSwvV0HNPwgyQzCbX8");    
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1216px 346.188px;
}

.nav-container {
  display: flex;  
}

.content-container {
  width: 60%;
  margin: auto;
}

.footer-container {
  width: 100%;
  background-color: rgba(34, 34, 34, 0.8);
  background: linear-gradient(80deg, rgba(34,34,34,.8) 19%, rgba(15,10,4,1) 90%);
  color: #AF9361;
  display: block;	
  border-top: 2px solid #AF9361;
  padding-top: 40px;
}

.wrapper {
  max-width: 1310px;	
}

.center {
  text-align: center;	
}

.fade {
  opacity: 0.5;
}

.fade:hover {
  opacity: 1.0;
}

.logo-box {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 20%;
}

.info-box {
  display: inline-block;
  position: relative;
  left: 33%;
  text-align: center;
}

.menu-box {
  position: absolute;
  right: 0;
  display: inline-block;
  margin-left: 6%;
  width: 20%;  
}

.diligence {
  font-size: .8em;
  text-align: right; 
}

.fotos {
  max-width: -webkit-fill-available;
  max-width: moz-available;
  max-width: fill-available;
}

.half-left-side {
  display: inline-block;
  padding-right: 50px;
}

.half-right-side {
  display: inline-block;
  padding-left: 50px;	
}

/********************************** FORMS ********************************/

.form-box {
  display: inline-block;
  position: relative;	
  text-align: left;
  padding: 10px;  
}

.cajitas {
  margin: 5px;	
}